/* style.css */

/* Assignment 2 for Tufts Comp 20 */

/* Stylesheet */

/* by Zach Zager */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
}

#infowindow {
	text-align: center;
}